.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/skincare3.jpeg");
    background-repeat: repeat;
    background-size: cover;
}

.top-nav {
    background-color: whitesmoke;
    width: inherit;
    font-family: helvetica, sans-serif;
    box-shadow: 0px 1px 15px 0px grey;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 50px;
    margin: auto;
    margin-top: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px gray;
}

.form {
    font-family: 'georgia', serif;
    width: -webkit-fill-available;
}

.radio {
    width: fit-content;
}

.button {
    color: white;
    font-family: 'georgia', serif;
    background-color: #568789;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    float: right;
}
.slidecontainer {
    width: 100%; 
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}

#logo {
    color: #384635;
    margin-left: 20px;
}

#google-c {
    color: #783F04;
    margin: auto;
    margin-bottom: 5%;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'helvetica', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: -webkit-fill-available;
}

.input-box img {
    height: 20px;
    width: 20px;
}


.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    width: 700px;
    margin-top: 250px;
    font-family: 'georgia', serif;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}