<!doctype html>
<title>cosMEtics</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<!-- <script type="text/javascript" src="./script.js"></script> -->

<body class="homepage">

    <div class="full-body-container">
        <div class="top-nav">
            <h2 id="logo">cosMEtics</h2>
        </div>
        <div class="top-text">
            <div class="google-colors">
                <h3 id="google-c">let's get to know you</h3>
            </div>
            <form class="form" id="form">
                <p>What type of product are you looking for?</p>
                <div class="radio">
                    <input type="radio" id="moisturiser" name="product_type" value="moisturiser">
                    <label for="moisturiser">moisturiser</label>
                    <input type="radio" id="serum" name="product_type" value="serum">
                    <label for="serum">serum</label>
                    <input type="radio" id="oil" name="product_type" value="oil">
                    <label for="oil">oil</label>
                    <input type="radio" id="mist" name="product_type" value="mist">
                    <label for="mist">mist</label>
                    <input type="radio" id="balm" name="product_type" value="balm">
                    <label for="balm">balm</label><br>
                </div>
                <!-- <p>Do you have any allergies?
                </p>
                <input class="input-box" type="text" id="allergies" name="allergies"
                    placeholder="e.g. natural rubber, natural fragrances, preservatives, dyes, or metals"><br><br> -->
                <input class="button" type="submit" name="submit" value="submit">
            </form>
        </div>
        <div id="answer-box"></div>
    </div>

    <script>
        function answerBoxTemplate(name, url) {
            return `<div class=''>
            <h3 class='product-name'>${name}</h3>
            <p class='product-url'>${url}</p>
            </div>`
        }
        document.getElementById("form").addEventListener("submit", sendForm);

        function sendForm() {
            console.log('form sent')
            // var skin_types = document.getElementsByName('skin_type');
            // var skin_type = null;
            // for (i = 0; i < skin_types.length; i++) {
            //     if (skin_types[i].checked)
            //     skin_type = skin_types[i];
            // }
            var product_types = document.getElementsByName('product_type');
            var product_type = null;
            for (i = 0; i < product_types.length; i++) {
                if (product_types[i].checked)
                product_type = product_types[i];
            }
            
            // let allergies = document.getElementById("allergies");
            // console.log(skin_type);
            // console.log(allergies.value);

            // pass to python function to get results
        }
    function displayProducts(type) {
        console.log(displayProducts)
        document.getElementById("answer-box").innerHTML = ""
        fetch("/product_type?" + new URLSearchParams({ product_type: type }).toString() + "&submit=submit")
            .then((response) => response.json())
            .then((data) => data.forEach(row => {

            let tempDiv = document.createElement("div")
            tempDiv.innerHTML = answerBoxTemplate(row.product_name, row.product_url)
            document.getElementById("answer-box").appendChild(tempDiv)
            }));
    }

    </script>
</body>
