<!doctype html>
<title>cosMEtics</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<script src="script.js"></script>

<body class="homepage">

    <div class="full-body-container">
        <div class="top-nav">
            <h2 id="logo">cosMEtics</h2>
        </div>
        <div class="top-text">
            <div class="google-colors">
                <h3 id="google-c">let's get to know you</h3>
            </div>
            <form class="form">
                <p>What type of product are you looking for?</p>
                <div class="radio">
                    <input type="radio" id="moisturiser" name="product_type" value="moisturiser">
                    <label for="moisturiser">moisturiser</label>
                    <input type="radio" id="serum" name="product_type" value="serum">
                    <label for="serum">serum</label>
                    <input type="radio" id="oil" name="product_type" value="oil">
                    <label for="oil">oil</label>
                    <input type="radio" id="mist" name="product_type" value="mist">
                    <label for="mist">mist</label>
                    <input type="radio" id="balm" name="product_type" value="balm">
                    <label for="balm">balm</label><br>
                </div>
                <p>Do you have any allergies?
                </p>
                <input class="input-box" type="text" id="allergies" name="allergies"
                    placeholder="e.g. natural rubber, natural fragrances, preservatives, dyes, or metals"><br><br>
                <input class="button" type="submit" name="submit" value="submit" onSubmit="sendForm(this.form)">
            </form>
        </div>
        <div id="answer-box"></div>
    </div>
</body>